<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div class="magazines-card">    
        <h2>{{ genre_var.genre_name}}</h2>
        {% for mag in genre_var.genre.all %}
        <h3>Magazine: {{mag.title}}</h3>
        {% endfor %}
    </div>
          
    
    
  </main>
</body>

</html>