<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div class="magazines-card">    
        <h2>{{ magazine_var.title}}</h2>       
        <p>{{ magazine_var.release_cycle}}</p>
        <p>{{ magazine_var.description}}</p>
        <p>{{ magazine_var.cover}}</p>
        
        {% for issue in magazine_var.magazine.all %}
        <p>Issue: {{ issue.title}}</p>
        <p>Description: {{ issue.description }}</p>        
        <p>Date Published: {{ issue.date_publish }}</p>
        {% endfor %}
      
      {% for author in book.authors.all %}
        <p>Author: {{ author.name }}</p>
      {% endfor %}
        
        <h1> <a href={% url 'magazine_delete' magazine_var.pk %}>Delete this Magazine!</a>
        </h1>
    </div>
          
    
    
  </main>
</body>

</html>