<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for mag in magazines_var %}
    <div class="magazines-card">
        <a href={% url 'magazine_details' mag.pk %}>
            {{ mag.title}}
          </a>
    <p>
      
    </p>
        <p>{{ mag.title}}</p>
        <p>{{ mag.release_cycle}}</p>
        <p>{{ mag.description}}</p>
        <p><img src= {{ mag.cover }} width=300></p>
        
    
    {% endfor %}
  </main>
</body>

</html>