<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div class="book-card">    
        <p>{{ book_var.title}}</p>
        <p>{{ book_var.author}}</p>
        <p>{{ book_var.number_page}}</p>
        <p>{{ book_var.isbn}}</p>
        <p>{{ book_var.in_print}}</p>
        <h1> Delete this Book</h1>
        <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}
            Are you want to delete this item ?
            <input type="submit" value="Delete this Book" />
            <a href="/">Cancel </a>
        </form>
    </div>
          
    
    
  </main>
</body>

</html>