<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for book in books %}
    <div class="book-card">
    <p>
      <a href={% url 'show_book_details' book.pk %}>
        {{ book.title}}
      </a>
    </p>
        <p>{{ book.title}}</p>
        <p>{{ book.author}}</p>
        <p>{{ book.pages}}</p>
        <p>{{ book.isbn}}</p>
        
    <h1> <a href={% url 'book_edit' book.pk %}>edit</a>
       </h1>
    {% endfor %}
  </main>
</body>

</html>